<div class="main-page">
  <div class="background-image"></div>
  <div class="centered-container">
    <h1>
      Welcome to myFlix!
    </h1>
    <div class="button-container">
      <button mat-raised-button (click)="openUserRegistrationDialog()"
        style="margin-right: 10px; font-weight: bold; background-color: #7e6494; color: #242424">
        Sign Up
      </button>
      <button mat-raised-button (click)="openUserLoginDialog()"
        style="margin-right: 10px; font-weight: bold; background-color: #7e6494; ">
        Login
      </button>
    </div>
  </div>

</div>
<footer>
  <a
    href="
        https://www.freepik.com/free-photo/colorful-design-with-spiral-design_40968022.htm#fromView=relevance&page=1&position=6">Image
    by vecstock</a> on Freepik
</footer>