<div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto; padding: 20px; margin: 15px">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img class="movie-poster" src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button mat-button (click)="openGenreDialog(movie.Genre)" color="primary">
        Genre
      </button>
      <button mat-button (click)="openDirectorDialog(movie.Director)" color="primary">
        Director
      </button>
      <button mat-button (click)="openSynopsisDialog(movie.Title, movie.Description)" color="primary">
        Synopsis
      </button>
      <button mat-button class="mat-icon-button" (click)="toggleFavorite(movie._id)" color="primary">
        <mat-icon>{{ isFavoriteMovie(movie._id) ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>


    </mat-card-actions>
  </mat-card>
</div>