/* styles.css (or your component's CSS file) */
.nav-bar {
  background-image: url("../../assets/welcomepage.jpg"); /* Replace 'your-image-url.jpg' with your image URL */
}

.nav-bar-text {
  color: white; /* Set the text color */
  /* Additional text styles */
  font-weight: 800;
}
